.inter-normal {
    font-family: Inter;
    font-style: normal;
    line-height: 160%;
  }
  
  .dm-sans-normal {
    font-family: DM Sans;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.12px;
  }
  
  .poppins-normal {
    font-family: Poppins;
    font-style: normal;
    line-height: 160%;
  }
  
  .black-1 {
    color: var(--font-1, #001125);
  }
  
  .black-2 {
    color: #000;
  }
  
  .black-3 {
    color: var(--fonts-primary, #25213B);
  }

  .black-4 {
    color: #292D32;
  }

  .black-4 {
    color: #3E425B;
  }
  
  .white-1 {
    color: var(--White, #FFF);
  }
  
  .grey-1 {
    color: #9F9F9F;
  }
  
  .grey-2 {
    color: #6E6893;
  }
  
  .grey-3 {
    color: var(--Suggested-dark-grey, #808081);
  }

  .suggested-orange {
    color: var(--Suggested-orange, #E96853);
  }
  
  .svo-orange-color {
    color: var(--SVO-Orange-Color, #F1644C);

  }